:root {
    --color-bg-main: #F8F5F0;
    --color-bg-dark: #333333;
    --color-bg-gold: #D4A76A;
    --color-bg-blue: rgb(20, 103, 131);
    --color-bg-accent: #eaceb2;
    --transition: 0.4s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    background-color: var(--color-bg-main);
    background-image:
        linear-gradient(#ccc 1px, transparent 1px),
        linear-gradient(90deg, #ccc 1px, transparent 1px);
    background-size: 20px 20px; 
}

#wip{
    border: 0px solid var(--color-bg-dark);
    border-radius: 8px;
    padding: 20px;
    color: var(--color-bg-dark);
    transition: box-shadow var(--transition);
    background-color: var(--color-bg-main);
}

#wip:hover {
    box-shadow: 8px 2px 12px rgba(0, 0, 0, 1);
}

.wip-card{
    background-color: var(--color-bg-gold);
    padding: 0 30px;
    border-radius: 80% 8px 80% 8px;
    position: relative;
    border: 0px solid var(--color-bg-dark);
}

.wip-card::before{
    position: absolute;
    inset:0;
    content:"";
    z-index: -1;
    background-color: var(--color-bg-blue);
    padding: 0 30px;
    border-radius: 8px 80% 8px 80%;
    border: 0px solid var(--color-bg-dark);
}

.wip-card::after{
    position: absolute;
    inset:0;
    content:"";
    z-index: -2;
    background-color: var(--color-bg-accent);
    padding: 0 30px;
    border-radius: 10px;
    border: 0px solid var(--color-bg-dark);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icons{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: var(--color-bg-dark);
    margin: 100px;
    position: relative;
    padding: 10px;
    z-index: 0;
}

.icons::before{
    content: "";
    position: absolute;
    top: 45%;
    right: -100px;
    width: 100px;
    height: 20px;
    background-color: var(--color-bg-accent);
}

.icons::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, var(--color-bg-accent) 0%, var(--color-bg-accent) 100%), var(--color-bg-main);
    background-size: 100% 0%;
    background-position: top;
    background-repeat: no-repeat;
    transition: background-size var(--transition), box-shadow var(--transition), border-radius var(--transition);
    z-index: -1;
    margin: 18px;
    border-radius: 2px 60% 2px 60%;
}

.icons:hover::after {
    background-size: 100% 100%;
    box-shadow: 5px 10px var(--color-bg-blue);
    border-radius: 2px 70% 2px 60%;
}

/* Mirror */
.left {
    transform: scaleX(-1);
}

.icons.left {
    transform: scaleX(-1);
}

.icons.left > a {
    transform: scaleX(-1);
    display: block;
}

.icons img {
    transform: scale(0.7);
}

.name{
    background-color: var(--color-bg-dark);
    width: 150%;
    border-radius: 50% 8px 50% 8px;
    position: relative;
    color: var(--color-bg-main);
    padding: 0 10px;
    font-weight: normal;
    margin-left: -1em;
}

.name::before{
    position: absolute;
    inset:0;
    content:"";
    z-index: -1;
    background-color: var(--color-bg-blue);
    border-radius: 8px 50% 8px 50%;
}

.name span {
    background: linear-gradient(
        90deg,
        var(--color-bg-main) 0%,
        var(--color-bg-main) 50%,
        var(--color-bg-accent) 50%,
        var(--color-bg-accent) 100%
    );
    background-size: 200% 100%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position var(--transition);
}

.name:hover span {
    background-position: -100% 0%;
}

.icons h1{
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-bg-dark);
}
